:plain
  <div class="colophon">
    <p>
      This site was built with <span class="caps">HTML5</span> and
      <span class="caps">CSS3</span>
      using <a href="http://www.middlemanapp.com/">Middleman</a>,
      <a href="http://www.compass-style.org/">Compass</a>,
      <a href="http://www.sass-lang.com/">Sass</a>,
      <a href="/">Susy</a>,
      <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>,
      <a href="http://www.modernizr.com/">Modernizr</a>,
      <a href="https://github.com/scottkellum/modular-scale">Modular Scale</a>,
      <a href="http://ethanschoonover.com/solarized">Solarized</a> colors,
      <a href="http://pygments.org/">Pygments</a> syntax highlighting,
      <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> icons,
      and Franklin Gothic with Century OldStyle from
      <a href="http://www.fontspring.com/">Fontspring</a>.
    </p>
    <p>
      The design is largely borrowed from <a href="http://oddbird.net">OddBird's</a> Susy 
      project. I have learned an enormous amount about responsive grid-layouts, typography and
      vertical rythm, and color-palletes, by working off their work.
    </p>
  </div>