%ul
  %li 
    %a{ :href => "#" } Writings
  %li 
    %a{ :href => "#" } Projects / Dabblings
  %li
    %a{ :href => "#" } Linky link 3
  %li
    %a{ :href => "#" } Linkster 4
  %li
    %a{ :href => "#" } Linky dink 5
  %li
    %a{ :href => "#" } Link to the bink 6
